caption {
	 caption-side: bottom;
	 text-align:left;
	 font-size:90%;
	 color:#98A6AF;
}

.caption {
    text-align:left;
    font-size:90%;
    color:#98A6AF;
}

.table {
    width: 50%;
}
.sbs {
    width: 100%
}

.author {
    color: rgba(172, 136, 49, 1);
}

.date {
    color: rgba(146, 28, 28, 1);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 18px;
}


h5 {
    text-align:left;
    font-size:12px;
    color:#98A6AF;
}

.sbsfig {
    float: left;
}

/*
    This allows the TOC to float to the left - Thanks:
    http://rpubs.com/stevepowell99/floating-css
*/
#TOC {
  position: fixed;
  left: 50px;
  top: 10px;
  width: 200px;
  height: 95%;
  resize: horizontal;
  overflow: auto;
  background: #EDF4FF;
}

body {
  max-width: 2000px;
  margin: auto;
  margin-left:220px;
  line-height: 20px;
}

/* Enable collapsing of a div */
.heading {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.content {
    padding : 5px;
    width:100%;
    border:1px solid #d3d3d3;
}

.t {
    position: relative;
    float: right;
    color: #0E4AB4;
}
